.App {
  text-align: center;
}

.header {
  font-family: cooper-black-std, serif;

  font-weight: 400;

  font-style: normal;
}

.background {
  background-image: url('./assets/gingham.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
  height: 1200px
}

.background-red {
  background-image: url('./assets/gingham_red.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
  height: 1200px
}

.background-yellow {
  background-image: url('./assets/gingham_yellow.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
  height: 1200px
}

.background-purple {
  background-image: url('./assets/gingham_purple.png');

  background-size: cover;
  background-position: center;
}

.background-green {
  background-image: url('./assets/gingham_green.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
  height: 1200px
}

.background-pink {
  background-image: url('./assets/gingham_pink.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
  height: 1200px
}

.background-pink2 {
  background-image: url('./assets/gingham_pink2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
  height: 1200px;
}

.background-aqua {
  background-image: url('./assets/gingham_aqua.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
  height: 1200px;
}

.background-blue {
  background-image: url('./assets/gingham_blue.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
  height: 1200px
}

.background-orange {
  background-image: url('./assets/gingham_orange.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  min-height: 100%;
  /* height: 2200px */
}


#logo {
  font-size: 70px;
  color: #d32f2f;

}

h2 {
  /* font-size: 100px */
}

h3,
{
font-family: cooper-black-std, serif;
}

.modal-content {


  font-weight: 400;
  text-align: center;
  font-style: normal;
  padding-top: 40px;
  margin-top: 100px;
}

.modal-body {
  font-family: cooper-black-std, serif;
}

#dropdown-basic {
  font-family: Arial, Helvetica, sans-serif;
}

.login {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

#total {
  font-size: 100px;


}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

.mb-3 {
  padding-left: 50px;
  padding-right: 50px;
}

#dropdown {
  padding-bottom: 20px;
}

.btn {
  margin-bottom: 20px;
  margin-top: 20px;

}

.row {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

#address {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.navbar {
  background-color: rgb(49, 49, 49);

}

.navbar-brand {
  font-family: cooper-black-std, serif;
  color: white;
}

#nav-logo {
  color: white;
}

#navbar {
  color: rgb(142, 142, 142);
  /* display: block; */
}

#navbar:hover {
  color: white;
}

.nav-link {
  margin-left: 30px;
}

.table {
  font-family: Arial, Helvetica, sans-serif
}

#generate-run {
  font-family: Arial, Helvetica, sans-serif;
}

.soup,
.dessert {
  font-family: cooper-black-std, serif;
}

/* .town {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
} */

.meal-description,
.town {
  font-family: Arial, Helvetica, sans-serif
}

@media only screen and (max-width: 1000px) {
  #navbar {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-size: cover;

  }

  /* #nav-link {
    margin-top: 50px;
  } */
}

#navbar.container {
  margin-left: 40px;
}

/* #modal-width {
  width: 1000px;
} */